<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">

	<select id = "Id_Check" resultType="int">
        <!-- 검색을 하는데 갯수를 출력해라 MEMBER 테이블에 해당하는 테이블의 별칭은 m으로 선언한다. -->
        select count(*) from t_employee m
        <!-- 검색을 하는데 m테이블에 m_id 는 매개변수로 받아온 m_id와 동일해야 한다. -->
        where m.id = #{id}
        <!-- 결과 : 0이면 아이디 중복 x 1이면 중복 검색 결과가 없으면 0으로 나옴 아래는 다 생략 동일하니-->
    </select>

    <insert id = 'Register'>
        INSERT INTO t_employee (id, password)
        VALUES (#{id}, #{password})
    </insert>

    <select id = "Login" resultType="int">
        select count(*) from t_employee m
        where m.id = #{id} and m.password = #{password}
    </select>

    <!-- <select id = "Login_Info" resultType="Member">
        select * from t_employee m
        where m.m_id = #{m_id} and m.m_pw = #{m_pw}
    </select> -->

</mapper>